@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@200;300;400;500;600;700&display=swap');

@font-face {
	font-family: 'DIN Alternate';
	src: url('./DINAlternate-Bold.woff') format('Woff');
}

* {
	font-family: 'DIN Alternate', sans-serif;
	margin: 0;
	padding: 0;
}

body {
	background-image: url(./backdrop.svg);
	background-attachment: fixed;
	background-size: cover;
	background-position: center;
}

h1 {
	color: rgb(65 163 181);
	font-size: 2.3rem;
	font-weight: 500;
	text-align: center;
	margin-top: 14%;
}

button {
	border: none;
	color: white;
	font-size: 1.4rem;
	background-color: rgb(105 186 201);
	margin: 20px auto;
	padding: 13px;
	width: 100%;
	border-radius: 8px;
	box-shadow: 0px 4px rgb(66 149 165);
}

button:active {
	transform: translate(0, 2px);
	box-shadow: 0px 2px rgb(66 149 165);
}

.promptArea {
	background-color: white;
	margin: 5% 5% 0;
	padding: 10px 30px;
	border-radius: 6px;
	box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
	margin-top: 20%;
	max-width: 400px;
}

.promptText {
	height: 130px;
	text-align: center;
	margin: auto;
}

.promptText p {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	font-size: 1.8rem;
	color: rgb(123 123 123);
}

footer {
	position: absolute;
	bottom: 0;
	background: white;
	width: 100%;
	text-align: center;
	padding: 20px 0;
}

footer > p {
	font-size: 1.2rem;
}

@media screen and (min-width: 512px) {
	.promptArea {
		margin: 100px auto 0;
	}
}

@media screen and (min-width: 640px) {
	h1 {
		margin-top: 80px;
		font-size: 2.8rem;
	}
}

@media screen and (min-height: 635px) {
	body {
		overflow: hidden;
	}
}

@media screen and (max-height: 660px) {
	footer {
		position: revert;
		bottom: none;
		background: none;
		padding: 0;
		max-height: 30px;
	}
	.promptArea {
		margin-bottom: 30px;
	}
}
