@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@200;300;400;500;600;700&display=swap');

@font-face {
	font-family: 'DIN Alternate';
	src: url('./DINAlternate-Bold.woff') format('Woff');
}

$font: 'DIN Alternate', sans-serif;

@mixin button-shadow($y) {
	box-shadow: 0px $y rgb(66, 149, 165);
}

// Defaults

* {
	margin: 0;
	padding: 0;
}

body {
	background-image: url(./backdrop.svg);
	background-attachment: fixed;
	background-size: cover;
	background-position: center;
	font-family: $font;
}

h1 {
	color: rgb(65, 163, 181);
	font-size: 2.3rem;
	font-weight: 500;
	text-align: center;
	margin-top: 14%;
}

button {
	border: none;
	color: white;
	font-family: $font;
	font-size: 1.4rem;
	background-color: rgb(105, 186, 201);
	margin: 20px auto;
	padding: 13px;
	width: 100%;
	border-radius: 8px;
	@include button-shadow(4px);
}

button:hover {
	transform: translate(0, -1px);
	@include button-shadow(5px);
}

button:active {
	transform: translate(0, 2px);
	@include button-shadow(2px);
}

.card {
	border-radius: 6px;
	box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
	background-color: white;
}

// End Defaults

// Prompt Display Area

.promptArea {
	margin: 5% 5% 0;
	padding: 10px 30px;
	margin-top: 20%;
	max-width: 400px;
}

.promptText {
	height: 130px;
	text-align: center;
	margin: auto;

	p {
		position: relative;
		top: 50%;
		transform: translateY(-50%);
		font-size: 1.8rem;
		color: rgb(123, 123, 123);
	}
}

// End Prompt Display Area

// React Modal

.ReactModal__Overlay {
	opacity: 0;
	transition: opacity 300ms ease-out;
}

.ReactModal__Overlay--after-open {
	opacity: 1;
}

.ReactModal__Overlay--before-close {
	opacity: 0;
}

.ReactModal__Content {
	position: absolute;
	top: 40px;
	left: 40px;
	right: 40px;
	bottom: 40px;
	overflow: auto;
	-webkit-overflow-scrolling: touch;
	outline: none;
	padding: 20px;
	inset: 10px;
	max-height: 660px;
	max-width: 500px;
	margin: auto;
	// transform: scale(0.75);
	transform: translateY(90%);
	transition: transform 300ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
	ul {
		font-size: 1.5rem;
		list-style: none;
		margin-bottom: 40px;

		li {
			margin: 12px 0;
		}
	}

	button {
		margin: 0;
	}

	.modalScroll {
		height: 90%;
		overflow: scroll;
	}
}

.ReactModal__Content--after-open {
	// transform: scale(1);
	transform: translateY(0);
}

.ReactModal__Content--before-close {
	// transform: scale(0.75);
	transform: translateY(90%);
}

// End React Modal

// Footer

footer {
	position: absolute;
	bottom: 0;
	background: white;
	width: 100%;
	text-align: center;
	padding: 20px 0;

	p {
		font-size: 1.2rem;
	}
}

// End Footer

// Media Queries

@media screen and (min-width: 512px) {
	.promptArea {
		margin: 100px auto 0;
	}
}

@media screen and (min-width: 640px) {
	h1 {
		margin-top: 80px;
		font-size: 2.8rem;
	}
}

@media screen and (max-height: 660px) {
	footer {
		position: revert;
		bottom: none;
		background: none;
		padding: 0;
		max-height: 30px;
	}
	.promptArea {
		margin-bottom: 30px;
	}
}

// End Media Queries
