ul {
	font-size: 1.5rem;
	list-style: none;
	margin-bottom: 40px;
}

li {
	margin: 12px 0;
}

.modalScroll {
	height: 85%;
	overflow: scroll;
}

.ReactModal__Overlay {
	opacity: 0;
	transition: opacity 300ms ease-in-out;
}

.ReactModal__Overlay--after-open {
	opacity: 1;
}

.ReactModal__Overlay--before-close {
	opacity: 0;
}
