h1 {
	text-align: center;
	margin-top: 30px;
	font-size: 2.4rem;
}

.backdrop {
	position: absolute;
	overflow: hidden;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: -100;
}

.backdrop img {
	min-height: 100%;
	min-width: 100%;
	opacity: 0.15;
}

.promptArea {
	width: 80%;
	margin: auto;
	margin-top: 20%;
	text-align: center;
}

.card {
	background: white;
	padding: 2rem;
	border-radius: 6px;
	box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.promptBody {
	width: 80%;
	margin: auto;
}

.promptText {
	font-size: 2rem;
	color: rgb(39 40 40);
}

.promptBtn {
	margin: 2rem;
	font-family: 'Libre Baskerville', serif;
	background: none;
	border: none;
	color: rgb(77 179 212);
	font-size: 1.3rem;
	transition: color 0.1s;
}

.promptBtn:hover {
	color: rgb(84 194 230);
}

.promptBtn:active {
	color: rgb(56 129 152);
}

a {
	color: rgb(77 179 212);
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
	color: rgb(84 194 230);
}

footer {
	position: absolute;
	bottom: 0;
	width: 100%;
}

footer > p {
	text-align: center;
}

.modal {
	top: '50%';
	left: '50%';
	right: 'auto';
	bottom: 'auto';
	margin-right: '-50%';
	transform: 'translate(-50%, -50%)';
	max-width: 50%;
	max-height: 50%;
}

@media screen and (max-width: 560px) {
	.backdrop {
		display: none;
	}

	.promptArea {
		margin-top: 40%;
	}

	.card {
		box-shadow: none;
	}

	.promptText {
		font-size: 1.5rem;
	}
}
